<head>
  <title>Course Website</title>
  <script src="/app/client/assets/content-tools.min.js"></script>
</head>

<template name="layout">
  {{#if currentUser}}
    {{> yield}}
  {{else}}
    {{> welcome}}
  {{/if}}
</template>

<template name="page">
  <div id="header">
     <h1>CS Tutorials</h1>
  </div>
    {{> nav_bar}}
    {{> loginButtons}}
    {{> main_content}}
</template>

<template name="main_content">
  {{#if isInRole 'admin'}}
    <div id="page_content">
      {{{editable_page_content}}}
    </div>
  {{else}}
    <div id="page_content">
      {{{page_content}}}
    </div>
  {{/if}}
</template>

<template name="nav_bar">
  <div id=nav_container>
    <ul id="nav_tabs">
      {{> home_link}}
      {{#each course_links}}
        {{> course_link}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="home_link">
  <li class="nav_item">
    <a class="nav_link" href="{{ pathFor route='home' }}" 
       style="{{ colorLink }}">HOME</a>
  </li>
</template>

<template name="course_link">
  <li class="nav_item">
    <a class="nav_link" href="{{ pathFor route='course' }}" 
       style="{{ colorLink }}">{{text}}</a>
  </li>
</template>

<template name="welcome">
  <div id="header">
    <h1>CS Tutorials</h1>
  </div>
    {{> nav_bar}}
    {{> loginButtons}}
  <div id="page_content">
    <h1>Welcome</h1>
    <h2>Please sign in</h2>
  </div>
</template>