@font-face {
  font-family: 'Tex';
  src: url('fonts/texgyreadventor-regular.otf') format('opentype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Light.ttf');
}

/* General */

* {
  font-family: 'OpenSans', 'Helvetica', 'Sans-serif';
  font-weight: lighter;
}

body {
  text-align: center;
  margin: none;
  padding: 0px 0px 0px 0px;
}

h1 {
  color: darkred;
  position: relative;
  font-family: 'Tex';
  font-weight: lighter;
}

h2 {
  color: red;
  position: relative;
  font-family: 'Tex';
  font-weight: lighter;
  padding: 50px 10px 10px 10px;
}


p {
  text-align: justify;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
}

iframe {
  padding: 20px 0px 100px 0px; 
}

a {
  text-decoration: none; 
}

a:visited {
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
}

a:active {
  text-decoration: none; 
}

/* Header */

#header {
  width: 100%;
  min-width: 800px;
  height: 100px;
  position: absolute;
  top: 0px;
  background-color: #2D2D2D;
}

#header h1 {
  color: white; 
  padding: 20px 0px 20px 0px;
}

/* Navigation bar */
#nav_container {
  width: 100%;
  min-width: 800px;
  height: 40px;
  position: absolute;
  top: 100px;
  background-color: #2D2D2D;
}

#nav_tabs {
  list-style-type: none; 
}

.nav_item {
  display: inline; 
  text-decoration: none;
}

.nav_link {
  color: #FFFFFF;
  height: 40px;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  transition: color 0.25s ease, background-color 0.25s ease;
  text-decoration: none;
}

.nav_link:link {
  text-decoration:none; 
}

.nav_link:visited {
  text-decoration: none; 
}

.nav_link:hover {
  background-color: #4D4D4D;
  color: black;
  text-decoration: none;
}

.nav_link:selected {
  background-color: #C6C6C6;
  color: black;
  text-decoration: none;
}

.nav_link:active {
  text-decoration: none; 
}

#active_link {
  color: red;
  text-decoration: none;
}

/* Main page content */

#page_content {
  width: 700px;
  position: relative;
  top: 110px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Login */

#login-buttons .login-link-and-dropdown-list.login-form-sign-in {
  position: absolute;
  top: 10px;
  left: 10px;
}
  
#login-name-link {
  position: fixed;
  top: 10px;
  left: 10px;
  color: red;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}

#login-buttons .login-button {
  background-color: darkred; 
}

#login-buttons .login-button:hover {
  background-color: red;
  color: white;
}

/* Editor widgets */

.note-editor {
  position: absolute;
  top:140px;
}

.ct-widget .ct-ignition__button--edit {
  position: fixed;
  bottom: 20px;
  background-color: darkred;
}

.ct-widget .ct-ignition__button--edit:hover {
  background-color: red;
}

.ct-widget .ct-ignition__button--confirm {
  position: fixed;
  bottom: 20px;
}

.ct-widget .ct-ignition__button--cancel {
  position: fixed;
  bottom: 20px;
}

.ct-widget .ct-ignition__button--busy {
  position: fixed;
  bottom: 20px;
}


